<!DOCTYPE html>
<html>
<head>
  <title>Backwater Creek Community Library - Book Details</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="res/jquery.mobile-1.0.1.min.css" />
  <script src="res/jquery-1.6.4.min.js"></script>
  <script src="res/jquery.mobile-1.0.1.min.js"></script>
</head>

<body>
<section id="page1" data-role="page">
  <header data-role="header">
    <h1>Library</h1>
    <a href="/mobile_search" data-ajax="false">Search</a>
  </header>
    <form method="get" >

      <table cellpadding="5" cellspacing="5" align="center" width="100%">

        <tr>
          <td valign="top" align="right" width="200"><b>Title:</b></td>
          <td valign="top">{{Title}}</td>
        </tr>

        <tr>
          <td valign="top" align="right"><b>Author:</b></td>
          <td valign="top">{{Author}}</td>
        </tr>
        <tr>
          <td valign="top" align="right"><b>Additional Author:</b></td>
          <td valign="top">{{AdditionalAuthor}}</td>

        </tr>
        <tr>
          <td valign="top" align="right"><b>Call Number:</b></td>
          <td valign="top">{{CallNumber}}</td>
        </tr>
        <tr>
          <td valign="top" align="right"><b>Publication Info:</b></td>

          <td valign="top">{{PublicationInfo}}</td>
        </tr>
        <tr>
          <td valign="top" align="right"><b>Description:</b></td>
          <td valign="top">{{Description}}</td>
        </tr>
        <tr>

          <td valign="top" align="right"><b>Series:</b></td>
          <td valign="top">{{Series}}</td>
        </tr>
        <tr>
          <td align="right" valign="top"><b>Subject Categories:</b></td>
          <td valign="top">{{SubjectCategories}}</td>
        </tr>

      </table>
      <P>&nbsp;</P>
      <P>
    </form>
  
</section>
</body>

</html>
